:root {
    --sf-border-color: #d1d5dc;
    --sf-item-bg: #edf2f7;
    --sf-subitem-bg: #e0e5ea;
    --sf-item-text: #2d3748;
    --sf-dropdown-border: #cbd5e0;
    --sf-dropdown-bg: white;
    --sf-dropdown-hover-bg: #edf2f7;
    --sf-text-color: #404040;
    --sf-clear-btn-bg: #edf2f7;
}

[data-theme="dark"], .dark {
    --sf-border-color: #3f4146;
    --sf-item-bg: #28272d;
    --sf-subitem-bg: #3f4146;
    --sf-item-text: #edf2f7;
    --sf-dropdown-border: #36353c;
    --sf-dropdown-bg: #28272d;
    --sf-dropdown-hover-bg: #3e3c42;
    --sf-text-color: #e2e8f0;
    --sf-clear-btn-bg: #28272d;
}